<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Document</title>
</head>
<body>
    <div>
      
      <ul class="navbar">        
        <li><a href="Contact-Us">Contact Us</a></li>
        <li><a href="our-service">Our Services</a></li>
        <li><a href="Home">Home</a></li>
        <li><a class="logo" href="#">IM.</a></li>
      </ul>
    </div>
 