<%- include("partials/header") -%>
<div  class="container">
    <h1>CONTACT US</h1>
    <P><h3>Phone number:</h3> +00 (0)00 0000 0000</P>
    <p><h3>Post:</h3> IM. Group Zürich Pvt Ltd.
        <br>
        The Mira Corporate Suites,
        <br>
        Swizzerland, ZURICH, 110000</p>
</div>
    
<%- include("partials/footer") -%>