<%- include("partials/header") %>

<div class="section">
    <div class="main">
        <h1 class="intro">
            Inspiring trust for
        <br>
            a more resilient world
        </h1>
        <button class="discover">Discover more</button>
  </div>
</div>
<%- include("partials/footer") %>

